DoAn_Quan_Ly_Ban_May_Tinh/packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
DoAn_Quan_Ly_Ban_May_Tinh/packages/
DoAn_Quan_Ly_Ban_May_Tinh/DoAn_Quan_Ly_Ban_May_Tinh/bin/Debug/
DoAn_Quan_Ly_Ban_May_Tinh/DoAn_Quan_Ly_Ban_May_Tinh/obj/Debug/
DoAn_Quan_Ly_Ban_May_Tinh/.vs/DoAn_Quan_Ly_Ban_May_Tinh/FileContentIndex/
